body {
    font-family: 'Courier New', monospace;
}

/* footer {
    position: fixed;
    height: 56px;
    bottom: 0;
    width: 100%;
}

*/

.footer {
    height: 50px;
    margin-top: -50px;
    
  }

  .footer-text {
      color: rgba(0,0,0,.5);
  }

  .hund {
      padding: 10px;
      padding-left: 70px;
  }

  #readmore {
      color: #97b4b3;
  }

  #readmore:hover {
      color: #508584; 
    }

#readmore-link {
    text-decoration: none;
}

.nex, .prev {
    color: #97b4b3;
}

.nex, .prev:hover {
    color: #508584; 
  }
  