body {
    font-family: 'Courier New', monospace;
    
}

/* footer {
    position: fixed;
    height: 56px;
    bottom: 0;
    width: 100%;
}

*/

.footer {
    height: 50px;
    margin-top: -50px;
    
  }

  .footer-text {
      color: rgba(0,0,0,.5);
  }

  .hund {
      margin-top: 20px;
      padding: 30px;
      /* padding-left: 50px; */
  }

  #readmore {
      color: #97b4b3;
  }

  #readmore:hover, a {
      color: #508584; 
    }

#readmore-link, a {
    text-decoration: none;
}

.nex, .prev {
    color: #97b4b3;
}

.nex, .prev:hover {
    color: #508584; 
  }

#comments-container {
    padding: 20px;
    margin: 25px 50px 75px 100px;
}

#comment-container {
    padding: 20px;
    margin: 25px 50px 75px 100px;
    
    
}

.profile-title {
    margin-top: 30px;
}

#navbar {
   
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #97b4b3;
}


.jumbotron {
    background-image: url("https://res.cloudinary.com/dhmusmslg/image/upload/v1644965794/sky_ypj5w0.jpg");
    background-size: cover;
    padding-top: 1%;
    padding-bottom: 25%;
}