{% extends "base.html" %}

{% block content %}

<header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <div class="text-center my-5">
        <h1 class="text-black fs-3 fw-bolder">Traint</h1>
        <p class="text-black-50 mb-0"></p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Full Width Backgrounds</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed det folityu do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>

{% endblock%}