{% extends "base.html" %}
{% block content %}




<div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ username.user }}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-body">
      <a href="{% url 'addquestion' %}" class="card-link">Ask Question</a>
    </div>
  </div>

 
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for i in mquestions %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ i.author }} </p>
                                    <a href="{% url 'full_question' i.id %}">
                                    <h2 class="card-title">Title: {{ i.title }} </h2>
                                    </a>
                                    <a href="{% url 'edit_question' i.id %}">
                                        <p>Edit Question</p>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}